.single-para h4 {
    color: #000;
    font-size: 30px;
}

.single-para p {
    font-size: 18px;
    margin: 50px 10px 50px 10px;
}

.single-para h5 {
    color: #ff5d56;
    font-size: 30px;
    border-bottom: 1px solid #C4C3C3;
    padding: 8px 0;
}

ul.tag {
    padding: 4px 0;
    border-top: 1px solid #C4C3C3;
    border-bottom: 1px solid #C4C3C3;
}

ul.tag li {
    list-style: none;
    color: #000;
    margin: 4px 0;
    font-weight: 300;
    font-size: 0.9em;
}

ul.tag li span.number {
    margin-left: 120px;
}

ul.tag li span.number {
    margin-left: 120px;
}

.add-cart {
    float: right;
    background: none repeat scroll 0 0 #1abc9c;
    border: medium none;
    color: #fff;
    padding: 11px 20px;
}

.add-cart:hover {
    color: white;
    background-color: #222;
    cursor: pointer;
}

.goods-show-img {
    margin-top: 50px;
}

.center {
    text-align: center;
}

.show-box {
    width: 50%;
    text-align: center;
    display: inline-block;
}