<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <link rel="stylesheet" th:href="@{css/style.css}">
    <link rel="stylesheet" th:href="@{css/home.css}">
    <script th:src="@{js/home.js}"></script>
    <script th:src="@{js/util.js}"></script>
    <script th:inline="javascript">
        sessionStorage.setItem("id", [[${session.id}]]);
        window.onload = function () {
            get_goods(1, 15);
        }
    </script>
</head>
<body>
<div>
    <div class="user-menu">
        <div class="content-div" th:switch="${session.username != null}">
            <ul th:case="false">
                <li><a href="/login">登陆</a></li>
                <li><a href="/register">注册</a></li>
            </ul>
            <ul th:case="true">
                <li><p>欢迎!&nbsp;<span class="username" th:text="${session.username}"></span></p></li>
                <li><a href="/user/logout">注销</a></li>
            </ul>
        </div>
    </div>
    <div class="nav-menu">
        <div class="content-div">
            <ul>
                <li><a href="/home">主页</a></li>
                <li><a href="/cart">购物车</a></li>
                <li><a href="/order">订单查询</a></li>
            </ul>
        </div>
    </div>
    <div class="back">
        <h1>主&nbsp;&nbsp;&nbsp;页</h1>
    </div>
</div>
<div class="content-div home-content">
    <div class="row-2">
        <p>asdasd</p>
    </div>
    <div class="row-8">
        <div class="content-center" id="goods-list">
<!--                <div th:each="i:${#numbers.sequence(0, 5)}" class="row-33">-->
<!--                    <div class="card" id="goods-id">-->
<!--                        <img class="goods-img" src="../img/goods/pic6.jpg" alt="picture"/>-->
<!--                        <a class="goods-price">¥ 100</a>-->
<!--                        <a class="goods-name">商品名称1</a>-->
<!--                        <a class="add_to_cart_button" onclick="add_to_cart(this)">加入购物车</a>-->
<!--                    </div>-->
<!--                </div>-->
        </div>
    </div>
</div>
<div class="center">
    <div class="footer">
        <p>@2020 Design by Shenjunjie</p>
    </div>
</div>
</body>
</html>