<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登陆</title>
    <script th:src="@{js/util.js}"></script>
    <script th:src="@{js/user.js}"></script>
</head>
<body>
<div>
    <form method="post" id="login-form">
        <label for="email">email: </label>
        <input type="text" name="email" id="email">
        <label for="password">password: </label>
        <input type="text" name="password" id="password">
        <br/>
        <input type="button" onclick="login('login-form')" value="登陆">
    </form>
</div>
</body>
<!--<script>-->
<!--    login1 = function (form_id) {-->
<!--        let xmlhttp = new XMLHttpRequest();-->
<!--        xmlhttp.onreadystatechange = function() {-->
<!--            if (xmlhttp.readyState===4 && xmlhttp.status===200){-->
<!--                let response = xmlhttp.responseText;-->
<!--                response = JSON.parse(response)-->
<!--                console.log(response)-->
<!--                console.log(response.code);-->
<!--                if (response.code === 200){-->
<!--                    console.log("Ok");-->
<!--                    // window.location.href = "/";-->
<!--                }-->
<!--            }-->
<!--        };-->
<!--        xmlhttp.open("POST", "/user/login" , true);-->
<!--        xmlhttp.setRequestHeader("Content-Type", "application/json");-->
<!--        xmlhttp.send(form2Json(form_id));-->
<!--    }-->
<!--</script>-->
</html>