<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <script th:src="@{js/util.js}"></script>
    <script th:src="@{js/user.js}"></script>
    <link rel="stylesheet" th:href="@{css/log_reg.css}">
</head>
<body>
<!--    <form method="post" id="register-form">-->
<!--        <label for="email">nickname: </label>-->
<!--        <input type="text" name="nickName" id="nickname"> <br/>-->
<!--        <label for="email">email: </label>-->
<!--        <input type="text" name="email" id="email"> <br/>-->
<!--        <label for="password">password: </label>-->
<!--        <input type="text" name="password" id="password"> <br/>-->
<!--        <br/>-->
<!--        <input type="button" onclick="register('register-form')" value="注册">-->
<!--    </form>-->
    <div class="box">
        <div>
            <form method="post" id="register-form">
                <div id="nickname-div">
                    <label for="nickname">昵&nbsp;&nbsp;&nbsp;称：</label>
                    <input type="text" id="nickname" name="nickName"> <br/>
                </div>
                <div id="email-div">
                    <label for="email">邮&nbsp;&nbsp;&nbsp;箱：</label>
                    <input type="text" id="email" name="email"/>
                </div>
                <div id="password-div">
                    <label for="password">密&nbsp;&nbsp;&nbsp;码：</label>
                    <input type="password" id="password" name="password"/>
                </div>
                <div id="login" >
                    <button type="button" onclick="register('register-form')">注册</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>